@font-face {
   font-family: 'CenturyGothic';
   src: url(../fonts/CenturyGothic.ttf);
}

@font-face {
   font-family: 'GeorgiaBrush';
   src: url(../fonts/GeorgiaBrush.otf);
}

@font-face {
   font-family: 'Arialregular';
   src: url(../fonts/Arialregular.ttf);
}


.one{
   font-family: 'CenturyGothic';
}
.two{
   font-family: 'GeorgiaBrush';
}
.three{
   font-family: Arial, Helvetica, sans-serif;
}