@font-face {
   font-family: 'CenturyGothic';
   src: url(../fonts/CenturyGothic.ttf);
}

@font-face {
   font-family: 'GeorgiaBrush';
   src: url(../fonts/GeorgiaBrush.otf);
}

@font-face {
   font-family: 'TahomaBold';
   src: url(../fonts/Tahoma.ttf);
}


// @font-face {
//    font-family: 'Arialregular';
//    src: url(../fonts/Arialregular.ttf);
// }
// @font-face {
//    font-family: 'ArialBold';
//    src: url(../fonts/ArialBold.ttf);
// }
// font-family: 'ArialBold', Arial, Helvetica, sans-serif;
// font-weight: 700;